<div class="animate__animated animate__fadeInRight animate__faster">
    <h2>Buscar por Capital</h2>
    <hr>
    
    
    <div class="row">
        <div class="col">
            <app-pais-input
                (onEnter)=" buscar( $event )"
                placeholder="Buscar por Capital..."
                >
            </app-pais-input>
        </div>
    </div>
    
    
    <hr>
</div>


<div    *ngIf="hayError"
        class="alert alert-danger text-center animate__animated animate__jackInTheBox animate__fast">
    No se encontró ninguna capital llamada <strong>{{termino | titlecase }}</strong>
</div>

<div    *ngIf="capitales.length > 0" 
        class="row">
    <div 
        class="col">
        <app-pais-tabla 
            [paises]="capitales">
        </app-pais-tabla>
    </div>
</div>