<div class="animate__animated animate__fadeInRight animate__faster">
    <h2>Buscar por Capital</h2>
    <hr>
    
    
    <div class="row">
        <div class="col">
            <app-pais-input
                (onEnter)=" buscar( $event )"
                (onDebounce)="sugerencias( $event )"
                placeholder="Buscar por Capital..."
                >
            </app-pais-input>
        </div>
    </div>
    
    <ul *ngIf="mostrarSugerencias"
        class="list-group">
            <li *ngFor="let sugerido of paisesSugeridos"
                class="list-group-item list-group-item-action">
                <a  class="nav-link text-dark"
                    [routerLink]="['/pais', sugerido.cca2]">
                    {{sugerido['capital'][0]}}, {{sugerido.name.common}}
                </a>
            </li>
            <li class="list-group-item list-group-item-action"
            (click)=" buscarSugerido(termino)">
                <a  class="nav-link text-dark">
                    Buscar "{{ termino | titlecase }}"
                </a>
            </li>
    </ul>

    <hr>
</div>


<div    *ngIf="hayError"
        class="alert alert-danger text-center animate__animated animate__jackInTheBox animate__fast">
    No se encontró ninguna capital llamada <strong>{{termino | titlecase }}</strong>
</div>

<div    *ngIf="paises.length > 0" 
        class="row">
    <div 
        class="col">
        <app-pais-tabla 
            [paises]="paises">
        </app-pais-tabla>
    </div>
</div>