
<table class="table table-light table-borderless table-hover">
    <thead role="button">
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody role="button">
        <tr *ngFor="let pais of paises; let i = index;" 
            class="animate__animated animate__fadeIn animate__faster">
            <td>
                {{i + 1}}
            </td>
            <td>
                <img [src]="pais.flags.png" 
                     class="small-flag"
                     alt="bandera" 
                     />
            </td>
            <td>{{pais.capital ? pais.capital + "," : ""}} {{pais.name.common}}</td>
            <td>{{pais.population | number }}</td>
            <td>
                <a  class="nav-link"
                    [routerLink]="['/pais', pais.cca2]" >Ver más...</a>
            </td>
        </tr>
    </tbody>
</table>