<div class="animate__animated animate__fadeInRight animate__faster">

    <h2>Buscar por Región: <small> {{regionActiva | titlecase}} </small></h2>
    <hr>
    
    <h5>Seleccione la región</h5>
    
    <div class="row">
        <div class="col">
            <button *ngFor="let region of regiones"
                    [class]="getClaseCss( region ) + ' me-2 my-2'"
                    (click)="activarRegion( region )"
                    >
                {{region | titlecase}}
            </button>
        </div>
    </div>
</div>


<div *ngIf="paises.length > 0" 
     class="row">
           
    <div 
        class="col table-responsive">
            <app-pais-tabla 
                [paises]="paises">
            </app-pais-tabla>
    </div>
</div>

